<div class="edit-pane {{animationClass}}">
  <button onclick={{action closeSprite}}>Close Sprite</button>
  <div>{{@sprite.name}}</div>

  <div class="animation-frames {{displaySize}}">
    {{#each @sprite.frames key="id" as |frame|}}
      <div class="frame">
        <div class="controls">
          <button onclick={{action copyFrame frame}}>Copy</button>
          <button onclick={{action removeFrame frame}}>Remove</button>
          <button onclick={{action moveFrame frame "left"}}>Left</button>
          <button onclick={{action moveFrame frame "right"}}>Right</button>
        </div>

        <pixel-grid
          @editable=true
          @frame={{frame}}
          @selectPixel={{action selectPixel}}
        />
      </div>
    {{/each}}
  </div>

  <div>
    <button onclick={{action addFrame}}>New Frame</button>
    {{#if copiedFrame}}
      <button onclick={{action pasteCopiedFrame}}>Paste Frame</button>
    {{/if}}
  </div>

  <div class="color-picker">
    Color: <input class="jscolor" value="ffffff" onchange={{action colorChange}}>
  </div>

  <select onchange={{action selectChange}}>
    <option value="small">small</option>
    <option value="medium" selected>medium</option>
    <option value="large">large</option>
  </select>

  <label>Treat white pixels as empty
    <input
      type="checkbox"
      checked={{@sprite.whiteAsEmpty}}
      onchange={{action onToggle}}
    />
  </label>
  {{#if animationClass}}
    <button onclick={{action hideAnimation}}>Stop Animation</button>
  {{else}}
    <button onclick={{action showAnimation}}>Animate</button>
  {{/if}}

  <div class="sprite-blob">
    {{@sprite.spriteBlob}}
  </div>
</div>