<div class="edit-pane">
  <button onclick={{action closeSprite}}>Close Sprite</button>
  <div>{{store.activeSprite.name}}</div>

  <div>
    {{#each store.activeSprite.frames key="@index" as |frame|}}
      <pixel-grid
        @editable=true
        @frame={{frame}}
        @selectPixel={{action selectPixel}} />
    {{/each}}
  </div>

  <div>
    <button onclick={{action addFrame}}>New Frame</button>
  </div>

  <div class="color-picker">
    Color: <input class="jscolor" value="ffffff" onchange={{action colorChange}}>
  </div>

  <label>Treat white pixels as empty
    <input type="checkbox"
           checked={{store.activeSprite.whiteAsEmpty}}
             onchange={{action onToggle}}>
  </label>

  <div class="sprite-blob">
    {{store.spriteBlob}}
  </div>
</div>