<div class="edit-pane {{animationClass}}">
  <div class="control-panel">
    <div class="name">{{@sprite.name}}</div>

    <select class="size-picker" onchange={{action selectChange}}>
      <option value="small">small</option>
      <option value="medium" selected>medium</option>
      <option value="large">large</option>
    </select>

    <label class="white-empty-picker">
      White is empty
      <input
        type="checkbox"
        checked={{@sprite.whiteAsEmpty}}
        onchange={{action onToggle}}
      />
    </label>

    <div class="color-picker">
      <input class="jscolor" value="ffffff" onchange={{action colorChange}}>
    </div>

    {{#if animationClass}}
      <button class="animation-button"
              title="Stop Animation"
              onclick={{action hideAnimation}}>
        <i class="ion-stop"></i>
      </button>
    {{else}}
      <button class="animation-button"
              title="Start Animation"
              onclick={{action showAnimation}}>
        <i class="ion-play"></i>
      </button>
    {{/if}}

    <button class="close-button"
            title="Close Sprite"
            onclick={{action closeSprite}}>
      <i class="ion-close-round"></i>
    </button>
  </div>

  <div class="side-panel">
    <div class="color-palette">
      {{#each @sprite.colorPalette key="@index" as |colorCode|}}
        <button class="color-code"
                style="background-color: {{colorCode}}"
                onclick={{action changeActiveColor colorCode}}
        ></button>
      {{/each}}
    </div>
  </div>

  <div class="animation-frames {{displaySize}}">
    {{#each @sprite.frames key="id" as |frame|}}
      <div class="frame">
        <div class="frame-control-buttons">
          <button title="move left" onclick={{action moveFrame frame "left"}}>
            <i class="ion-ios-arrow-left"></i>
          </button>

          <button title="copy frame" onclick={{action copyFrame frame}}>
            <i class="ion-ios-copy-outline"></i>
          </button>

          <two-click-delete
            @action={{action removeFrame frame}}
          />

          <button title="move right" onclick={{action moveFrame frame "right"}}>
            <i class="ion-ios-arrow-right"></i>
          </button>
        </div>

        <pixel-grid
          @editable=true
          @frame={{frame}}
          @selectPixel={{action selectPixel}}
        />
      </div>
    {{/each}}

    <div class="new-frame-buttons">
      <button title="new frame" onclick={{action addFrame}}>
        <i class="ion-ios-plus-outline"></i>
      </button>

      {{#if copiedFrame}}
        <button title="paste copied frame" onclick={{action pasteCopiedFrame}}>
          <i class="ion-ios-plus"></i>
        </button>
      {{/if}}
    </div>
  </div>

  <div class="sprite-blob">
    <button class="copy-button"
            title="copy to clipboard"
            onclick={{action copySpriteBlob}}>
      {{#if copySuccess}}
        <i class="ion-android-checkmark-circle success"></i>
      {{else}}
        <i class="ion-ios-download-outline"></i>
      {{/if}}
    </button>
    <textarea
      readonly
      value={{@sprite.spriteBlob}}
    />
  </div>
</div>