<div class="edit-pane">
  <button onclick={{action closeSprite}}>Close Sprite</button>
  <div>{{@sprite.name}}</div>

  <div class="animation-frames">
    {{#each @sprite.frames key="@index" as |frame|}}
      <div class="frame">
        <button>Copy</button>
        <button>Remove</button>
        <button onclick={{action moveFrame frame "left"}}>Left</button>
        <button onclick={{action moveFrame frame "right"}}>Right</button>

        <pixel-grid
          @editable=true
          @frame={{frame}}
          @selectPixel={{action selectPixel}}
        />
      </div>
    {{/each}}
  </div>

  <div>
    <button onclick={{action addFrame}}>New Frame</button>
  </div>

  <div class="color-picker">
    Color: <input class="jscolor" value="ffffff" onchange={{action colorChange}}>
  </div>

  <label>Treat white pixels as empty
    <input
      type="checkbox"
      checked={{@sprite.whiteAsEmpty}}
      onchange={{action onToggle}}
    />
  </label>

  <div class="sprite-blob">
    {{@sprite.spriteBlob}}
  </div>
</div>