<div class="edit-pane {{animationClass}}">
  <button onclick={{action closeSprite}}>Close Sprite</button>
  <div>{{@sprite.name}}</div>

  <div class="animation-frames {{displaySize}}">
    {{#each @sprite.frames key="id" as |frame|}}
      <div class="frame">
        <div class="controls">
          <button onclick={{action moveFrame frame "left"}}><i class="ion-arrow-left-b"></i></button>
          <div class="spacer"></div>
          <button onclick={{action copyFrame frame}}><i class="ion-ios-copy"></i></button>
          <button onclick={{action removeFrame frame}}><i class="ion-ios-trash"></i></button>
          <div class="spacer"></div>
          <button onclick={{action moveFrame frame "right"}}><i class="ion-arrow-right-b"></i></button>
        </div>

        <pixel-grid
          @editable=true
          @frame={{frame}}
          @selectPixel={{action selectPixel}}
        />
      </div>
    {{/each}}

    <div class="new-frame-buttons">
      <button title="new frame" onclick={{action addFrame}}><i class="ion-ios-plus-outline"></i></button>
      {{#if copiedFrame}}
        <button title="paste copied frame" onclick={{action pasteCopiedFrame}}><i class="ion-ios-plus"></i></button>
      {{/if}}
    </div>
  </div>

  <div class="color-picker">
    Color: <input class="jscolor" value="ffffff" onchange={{action colorChange}}>
  </div>

  <select onchange={{action selectChange}}>
    <option value="small">small</option>
    <option value="medium" selected>medium</option>
    <option value="large">large</option>
  </select>

  <label>Treat white pixels as empty
    <input
      type="checkbox"
      checked={{@sprite.whiteAsEmpty}}
      onchange={{action onToggle}}
    />
  </label>
  {{#if animationClass}}
    <button onclick={{action hideAnimation}}>Stop Animation</button>
  {{else}}
    <button onclick={{action showAnimation}}>Animate</button>
  {{/if}}

  <div class="sprite-blob">
    {{@sprite.spriteBlob}}
  </div>
</div>