<div class="create-sprite-form">
  <div>
    <label for="name">Sprite Name:</label>
    <input id="name" class="focus-on-load" oninput={{action updateName}} />
  </div>

  <div>
    <label for="width">Width:</label>
    <input id="width" defaultValue={{width}} oninput={{action updateDimensions "width"}} />

    <label for="height">Height:</label>
    <input id="height" defaultValue={{height}} oninput={{action updateDimensions "height"}} />
  </div>

  <div>
    <button onclick={{action submitForm}}>Create Sprite</button>
  </div>
</div>