<div class="pixel-grid">

  <!--<div>-->
    <!--<button onclick={{action internalAction "param1"}}>Click Me!</button>-->
  <!--</div>-->
  <!--<div>-->
    <!--<button class={{buttonColorClass}} onclick={{action changeButtonColor}}>Click To Change</button>-->
  <!--</div>-->

  <!--<div>-->
    <!--<button style="background-color: {{buttonColorStyle}};" onclick={{action changeButtonStyle}}>Click To Change</button>-->
  <!--</div>-->

  <div class="pixels">
    {{#each pixels.pixels key="@index" as |row|}}
      <div class="pixel-row">
        {{#each row key="@index" as |pixel|}}
          <div
            style="background-color: {{pixel.color}}"
            class="pixel"
            onclick={{action clickPixel pixel}}
          ></div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>