<div class="pixel-grid">
  <button onclick={{action cancelSprite}}>Close Sprite</button>

  <div>
    <div class="pixel-grid">

      {{#each store.pixels key="@index" as |row|}}
        <div class="row">

          {{#each row key="id" as |pixel|}}
            <div
              class="pixel"
              style="background-color: {{pixel.color}}"
              onmousedown={{action onMouseDown pixel}}
              onmouseover={{action onMouseOver pixel}}
            ></div>
          {{/each}}

        </div>
      {{/each}}

    </div>
  </div>

  <div class="color-picker">
    Color: <input class="jscolor" value="ffffff" onchange={{action colorChange}}>
  </div>

  {{#if spriteBlob}}
    <label>
      Treat white pixels as empty
      <input type="checkbox"
             checked={{whiteAsEmpty}}
               onchange={{action onToggle}}>
    </label>
    <div class="sprite-blob">
      {{spriteBlob}}
    </div>
  {{/if}}
</div>