<div class="pixel-grid">
  {{#each buttons key="@index" as |row|}}
    <div>
      {{#each row key="@index" as |buttonName|}}
        <button>{{buttonName}}</button>
      {{/each}}
    </div>
  {{/each}}

  <div>
    <button onclick={{action internalAction "param1"}}>Click Me!</button>
  </div>
  <div>
    <button class={{buttonColorClass}} onclick={{action changeButtonColor}}>Click To Change</button>
  </div>

  <div>
    <button style="background-color: {{buttonColorStyle}};" onclick={{action changeButtonStyle}}>Click To Change</button>
  </div>
</div>