<div class="modify-dimensions-controls">
  <div class="row">
    <div class="button-group">
      <button onclick={{action click "subtract" "top"}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click "add" "top"}}><i class="ion-ios-plus-outline"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="button-group">
      <button onclick={{action click "subtract" "left"}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click "add" "left"}}><i class="ion-ios-plus-outline"></i></button>
    </div>

    <div class="fake-box"></div>

    <div class="button-group">
      <button onclick={{action click "subtract" "right"}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click "add" "right"}}><i class="ion-ios-plus-outline"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="button-group">
      <button onclick={{action click "subtract" "bottom"}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click "add" "bottom"}}><i class="ion-ios-plus-outline"></i></button>
    </div>
  </div>
</div>