<div class="modify-dimensions-controls">
  <div class="row">
    <div class="button-group">
      <button onclick={{action click}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click}}><i class="ion-ios-plus-outline"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="button-group">
      <button onclick={{action click}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click}}><i class="ion-ios-plus-outline"></i></button>
    </div>

    <div class="fake-box"></div>

    <div class="button-group">
      <button onclick={{action click}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click}}><i class="ion-ios-plus-outline"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="button-group">
      <button onclick={{action click}}><i class="ion-ios-minus-outline"></i></button> /
      <button onclick={{action click}}><i class="ion-ios-plus-outline"></i></button>
    </div>
  </div>
</div>