<div class="pxlr-sprite-editor">
  <div>
    <label>Width:</label>
    <input oninput={{action widthChange}} defaultValue={{width}} />
  </div>
  <div>
    <label>Height:</label>
    <input oninput={{action heightChange}} defaultValue={{height}} />
  </div>
  <pixel-grid @width={{width}} @height={{height}} />
</div>