<div class="pxlr-sprite-editor">
  <button onclick={{action changeColor "blue"}}>Blue!</button>
  <button onclick={{action changeColor "green"}}>Green!</button>
  <button onclick={{action changeColor "red"}}>Red!</button>

  <div class="pixel-grid">

    {{#each pixels key="@index" as |row|}}
      <div class="row">

        {{#each row key="id" as |pixel|}}
          <div
            class="pixel"
            style="background-color: {{pixel.color}}"
            onclick={{action clickPixel pixel}}
          ></div>
        {{/each}}

      </div>
    {{/each}}

  </div>

  <button onclick={{action addRow}}>Add Row</button>
  <button onclick={{action addColumn}}>Add Column</button>
</div>