<div class="pxlr-sprite-editor">
  <div class="controls">
    <div class="dimensions">
      <label>Width:</label>
      <input defaultValue={{width}} oninput={{action updateDimensions "width"}} />

      <label>Height:</label>
      <input defaultValue={{height}} oninput={{action updateDimensions "height"}} />

      <button onclick={{action updateSpriteDimensions}}>Update Sprite</button>
    </div>
    <div class="color-picker">
      Color: <input class="jscolor" value="ab2567" onchange={{action colorChange}}>
    </div>
  </div>

  <div>
    <div class="pixel-grid">

      {{#each pixels key="@index" as |row|}}
        <div class="row">

          {{#each row key="id" as |pixel|}}
            <div
              class="pixel"
              style="background-color: {{pixel.color}}"
              onclick={{action clickPixel pixel}}
            ></div>
          {{/each}}

        </div>
      {{/each}}

    </div>
  </div>

  <button onclick={{action addRow}}>Add Row</button>
  <button onclick={{action addColumn}}>Add Column</button>
</div>