<div class="pxlr-sprite-editor">

  {{#if activeSprite}}

    <edit-pane
      @closeSprite={{action closeSprite}}
      @sprite={{activeSprite}}
    />

  {{else}}

    <create-sprite-form
      @createSprite={{action createSprite}}
    />

    <import-sprite-form
    />

    <saved-sprites-display
      @sprites={{store.sprites}}
      @openSprite={{action openSprite}}
      @deleteSprite={{action deleteSprite}}
    />

  {{/if}}

</div>