<div class="pxlr-sprite-editor">
  {{#if spriteActive}}
    <button onclick={{action cancelSprite}}>Close Sprite</button>

    <div>
      <div class="pixel-grid">

        {{#each pixels key="@index" as |row|}}
          <div class="row">

            {{#each row key="id" as |pixel|}}
              <div
                class="pixel"
                style="background-color: {{pixel.color}}"
                onclick={{action clickPixel pixel}}
              ></div>
            {{/each}}

          </div>
        {{/each}}

      </div>
    </div>
  {{else}}
    <div class="controls">
      <div class="dimensions">
        <label>Width:</label>
        <input defaultValue={{width}} oninput={{action updateDimensions "width"}} />

        <label>Height:</label>
        <input defaultValue={{height}} oninput={{action updateDimensions "height"}} />

        <button onclick={{action createSprite}}>Create Sprite</button>
      </div>
    </div>
  {{/if}}

  <div class="color-picker">
    Color: <input class="jscolor" value="ffffff" onchange={{action colorChange}}>
  </div>

  {{#if spriteBlob}}
    <div class="sprite-blob">
      {{spriteBlob}}
    </div>
  {{/if}}
</div>